body {
  margin: 0;
  background-color: #6d6bc9;
}

header {
  background-color: #1c1c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  border-radius: 0 0 1.5rem 1.5rem;
}

header .logo {
  width: 33%;
  flex: 1;
  margin-left: 2rem;
}

header .logo img {
  width: 75%;
}

header .nav-search {
  display: flex;
  flex: 2;
  flex-direction: column;
}

header nav{
  margin-bottom: -2px;
}

header .degrade-search-bar {
  padding: 2px;
  background: linear-gradient(90deg, rgba(255, 122, 0, 1) 0%, rgba(255, 0, 0, 0.6) 100%);
  border-radius: 15rem;
}

header .search-bar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #25284c;
  border-radius: 15rem;
  color: rgba(255, 255, 255, 0.75);
  padding: 0.5rem 1rem;
}

header .search-bar-content p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 1.5rem;
}

header .search-bar-content img {
  width: 2rem;
  height: 2rem;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

header nav ul li {
  width: 12em;
  text-align: center;
  list-style-type: none;
  background-color: #25284c;
  padding: 1rem 0;
  border-radius: 0.6rem;
}

header nav ul a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

header .degrade-nav1,
header .degrade-nav2,
header .degrade-nav3 {
  padding: 2px;
  border-radius: 0.7rem;
  background: linear-gradient(90deg, rgba(255, 122, 0, 1) 0%, rgba(255, 0, 0, 0.6) 100%);
  margin: 0;
}

footer {
  display: flex;
  background-color: #1c1c34;
  color: white;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0;
  border-radius: 1.5rem 1.5rem 0 0;;
}

footer section {
  width: 45%;
}

footer section nav ul {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

footer section nav ul li {
  margin: auto 7rem;
}

footer ul li {
  list-style-type: none;
  font-size: larger;
}

footer nav ul li img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

footer section{
  flex-direction: column;
  text-align: center;
}
footer section h4{
  font-size: 1.2em;
  margin-top: 10px;
}

footer a, footer .telephone{
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
/*
footer > section + section {
  border-left: white 10px solid;
}*/


